<section class="main">
  <div class="row clearfix">
    <div class="col2" role="complementary">
      <div id="guide-move">
        <h1 class="text-center">Welcome to medical appointments tool!</h1>
      </div>
    </div>
  </div>
</section>
